@font-face {
    font-family: 'Montserrat Bold';
    font-weight: 700;
    src: url('/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Light';
    font-weight: 300;
    src: url('/fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Medium';
    font-weight: 500;
    src: url('/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}

/* =========== Variables =========== */
:root{
    /* var des couleurs */
    --background-color: #fffffe;
    --title-color: #001858;
    --paragraphe-color: #172c66;
    --main-color: #6246ea;
    --secondary-color: #d1d1e9;
    --tertiary-color: #e45858;
    --button-color: #6246ea;
    --button-text-color: #fffffe;

    /* font-size */
    --h1-size: 4rem ;
    --h2-size: 2.5rem;
    --h3-size: 2rem;
    --h4-size: 1.5rem;
    --paragraphe-size: 1rem; /* 16px */
    --span-size: .875rem; /* 14px */

    /* Fonts */
    --font-light: 'Montserrat Light';
    --font-semi-light: 'Montserrat Medium';
    --font-bold: 'Montserrat Bold';

}

/* =========== CSS Principal =========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: var(--h1-size);
    font-family: var(--font-bold);
}

h2{
    font-size: var(--h2-size);
    font-family: var(--font-semi-light);
}

h3{
    font-size: var(--h3-size);
}

h4{
    font-size: var(--h4-size);
    font-family: var(--font-light);
}

p{
    font-size: var(--paragraphe-size);
    font-family: var(--font-light);
}

span{
    font-size: var(--span-size);
}

a{
    text-decoration: none;
}

ul{ 
    list-style: none; 
}

img{
    width: 100%;
    object-fit: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

.container > h2 {
    font-size: var(--h2-size);
    text-transform: uppercase;
    color: var(--main-color);
}

/* Faire l'apparition progressive  */
.reveal{
    opacity: 0;
    transform: translate(-100px);
}

.reveal-reverse{
    opacity: 0;
    transform: translate(100px);
}

.reveal-visible{
    opacity: 1;
    transform: translate(0);
    transition: 2s cubic-bezier(0.5, 0, 0, 1);
}

/* =========== Section Header =========== */
.header--wrap{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 150px;
    width: 100%;
    z-index: 5;
    background-color: #ffff;
    opacity: 1;
}

.header--logo{
    width: 150px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.menu--links > a {
    position: relative;
    text-transform: uppercase;
    margin: 0 10px;
    color: var(--main-color);
    font-weight: 600;
}

.menu--links > a:before,
.menu--links > a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.3s ease-in-out;
}
  
.menu--links > a:before {
    left: 50%;
    transform: translateX(-50%);
}
  
.menu--links > a:after {
    right: 50%;
    transform: translateX(50%);
}
  
.menu--links > a:hover:before,
.menu--links > a:hover:after {
    width: 100%;
}


/* =========== Main Section =========== */
.main--section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main--section > h1{
    margin-top: -150px;
    margin-bottom: 60px;
    font-size: var(--h1-size);
    color: var(--main-color);
}

.main--section > h2{
    font-size: var(--h2-size);
    color: var(--main-color);
}

/* =========== Profil Section =========== */
.container--profil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 50vh;
}

.profil--img{
    width: 25%;
}

.profil--desc{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: justify;
}

.profil--desc > p{
    font-size: var(--paragraphe-size);
    color: var(--paragraphe-color);
    line-height: 1.5;
}

.profil-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.profil-media > a{
    margin: 0 30px;
    width: 40px;
}

/* =========== Compétence Section =========== */
.container--card{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card{
    position: relative;
    width: 400px;
    border: 5px solid var(--main-color);
    padding: 10px 40px;
    margin: 20px 0;
    border-radius: 20px;
}

.card > h4{
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.card--desc{
    font-weight: 900;
}

.progress-bar-container{
    position: relative;
    width: 100%;
    height: 15px;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    margin: 10px 0px 30px 0px;
}

.progress-bar{
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--main-color);
}